body{
    background: aliceblue;
}

/* .header{
    text-align: center;
    color: grey;
    font-weight: 700;
    text-decoration: none;
} */

.circle{
    height: 100px;
    width: 100px;
    background-color:grey; 
    border-radius: 50%;
}
/* h3,
.col-sm-3{
    text-align: center;
} */
article{
display: flex;
justify-content: center;
align-items: center;
/* flex-direction: column; */

}
h6{
    display: block;
}